.TweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.TweetBox > form{
    display: flex;
    flex-direction: column;
}

.TweetBox_input{
    padding: 20px;
    display: flex;
}
.TweetBo_input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.TweetBox_TweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    text-transform: inherit !important;
    font-weight: 800 !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 20px;
    margin-left: auto !important;
}

.icon_container{
    width: 28px !important;
    color: var(--twitter-color) !important;
    margin-right: 12px;
}
.icon_container svg{
    fill: var(--twitter-color) !important;
}
.TweetBox_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 85px;
}

.TweetBox_input > input{
    border: 1px solid white;
    padding-left: 5px;
}
.TweetBox_input > input::placeholder{
    font-size: 20px;
    color: rgb(91, 112, 131);
    font-weight: normal !important;
}