.Suggestion_image{
    width: 65px !important;
    border-radius: 50%;
}
.Suggestion{
    padding: 2px 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-bottom: 2px;
}
.Suggestion_container h3, .Suggestion_container h6{
    margin: 0px !important;
}
.Suggestion_container h3{
    font-size: 20px;
}
.Suggestion_container h6{
    color: rgb(91, 112, 131);
    font-weight: normal !important;
}
.Suggestion_container{
    flex-grow: 2;
    padding-left: 10px;
}

.Suggestion_button{
    background-color: transparent !important;
    border: 1px solid var(--twitter-color) !important;
    color:var(--twitter-color) !important;
    text-transform: inherit;
    font-weight: 900 !important;
    border-radius: 30px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}