
.post_body > img{
    border-radius: 20px;
}
.post_body {
    flex: 1;
    padding: 10px;
}
.post{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    padding-left: 5px;
}
.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 75%;
    margin-left: 7%;
}
.post_avatar{
    margin-top: 20px;
}
.post_headerDescription{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.post_headerDescription p{
    margin: 0px;
}
.post_headerText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_headerText div:first-child{
    display: flex;
}
.post_headerText > h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.post_badge{
    font-size: 18px !important;
    color: var(--twitter-color);
}
.post_body img{
    max-height: 500px;
    width: 100%;
}